:root{
        /* Primary */
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --hover-cyan:hsl(158 63.03% 17.98%);
        /* Neutral */
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* head font-wiefht:700px*/
    font-family: "Fraunces", serif;
    font-family: "Montserrat", serif;
    background-color: var(--Cream);
    width: 100%;
    height: 100vh;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card img{
    width: 300px;
    border-radius: 10px 0 0 10px;
}
.card .image-one{
    display: none;
}
.card .content{
    border-radius: 0 10px 10px 0;
    width: 300px;
    height: 450px;
    padding-left: 20px;
    background-color: var(--White);
}
.card .content .perfume{
    padding: 20px 0;
    display: block;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-size: 14px;
}
.card .content h3{
    font-family: "Fraunces", serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 15px;
    color: var(--Very-dark-blue);
}
.card .content p{
    color: var(--Dark-grayish-blue);
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.card .content .price span:first-child{
    font-family: "Fraunces", serif;
    font-size: 35px;
    margin-right: 15px;
    font-weight: 700;
    color: var(--Dark-cyan);
}
.card .content .price span:last-child{
    text-decoration: line-through;
}
.card .content .add{
    margin: 37px 0 0;
    width: 235px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Dark-cyan);
}
.card .content .add:hover{
    background-color: var(--hover-cyan);
}
.card .content .add a {
    text-decoration: none;
    color: var(--White);
}
.card .content .add a span{
    margin-left: 5px;
}
/* phone setting */
@media (max-width:768px){
    .card{
        flex-direction: column;
    }
    .card img{
        display: none;;
    }
    .card .image-one{
        display:block;
        border-radius: 10px 10px 0 0;
        width: 360px;
    }
    .card .content{
        width: 360px;
        border-radius: 0 0 10px 10px;
        height: 400px;
    }
    .card .content .add{
        margin: 30px 0 0;
        width: 310px;
        height: 50px;
    }
}